.modal {
    display: none;
    width: 90%;
    padding: 50px;
    box-sizing: border-box;
    max-width:1200px;
    margin: 0 auto;
    border:5px solid rgb(0, 0, 0);
    border-radius: 0.3rem;
    background-color: #fff;
    overflow: hidden;
    position: fixed;
    z-index: 50000;
    left: 0;
    right: 0;
    top:350px;
    margin: auto;
  }
  
.modal.openModal {
    display: block;
}